################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rectangles.Test/obj
/Rectangles.Test/bin/Debug
/Rectangles/obj
/Rectangles/bin/Debug/net6.0-windows
/.vs/Rectangles
